@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@700&display=swap');
html,
body {
    background-image: url(https://i.pinimg.com/originals/79/b9/05/79b9054e0c07b1c87b55b8a9718f058f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Podkova', serif;
    ;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 10px 5px #0b374b;
}

.card-header h3 {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.input-group-prepend span {
    width: 125px;
    background-color: #6b6464da;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: white;
    background-color: #3c84f0;
    width: 100px;
}

.login_btn:hover {
    color: white;
    background-color: #084baf;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

input[type="date"] {
    color: #ffffff;
    content: attr(placeholder) ": ";
}